html {
    scroll-behavior: smooth;
    height: 100%;
}

.welcome {
    color: #fff;
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
    display: flex;
    justify-content: center; /* Horizontally center */
    align-items: center; /* Vertically center */
    height: 100vh;
}

* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

body {
    font-family: "Inter", sans-serif;
    color: #2c3e50;
}

nav {
    background: #477f99cd;
    height: 60px;
    width: 100%;
    position: fixed;
    transition: height 0.5s ease;
}

.navbar {
    transition: background-color 1.2s ease, height 0.5s ease;
}

.navbar-transparent {
    background-color: transparent;
}

.navbar-shrink {
    height: 60px; /* Set the height for the shrunk navbar */
}

.logo {
    position: absolute;
    margin-top: 15px;
    margin-left: 10px;
    transition: margin-top 1.2s ease, margin-left 0.5s ease, font-size 0.5s ease;
}
nav ul {
    float: right;
    margin-right: 20px;
}

nav ul li {
    display: inline-block;
    padding-top: 25px;
    margin: 0 5px;
}

nav ul li a {
    color: white;
    font-size: 17px;
    padding: 7px 13px;
    border-radius: 3px;
    transition: font-size 0.3s ease;
}

a.active,
a:hover {
    background: #1b9bff;
    transition: 0.5s;
}
.checkbtn {
    font-size: 30px;
    color: white;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}
#check {
    display: none;
    left: 0;
}

.welcome {
    background-image: url(Kepek/background.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 100vh;
    padding-top: 200px;
    text-shadow: 0 0 3px #2c3e50;
}

@media only screen and (max-device-width: 1366px) {
    .parallax {
        background-attachment: scroll;
    }
}

@media (max-width: 1100px) {
    * {
       
    }

    p {
       
    }
    h1 {
        font-size: 2rem;
    }
    footer p {
        font-size: 0.8rem;
        display: none;
    }
    .checkbtn {
        display: block;
        margin-right: 10px;
    }
    ul {
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #477f99cd;
        top: 60px;
        left: -100%;
        text-align: center;
        transition: all 0.5s;
    }
    nav ul li {
        display: block;
        margin: 15px 0;
        line-height: 5px;
    }
    nav ul li a {
        font-size: 20px;
    }
    a:hover,
    a.active {
        background: none;
        color: #0082e6;
    }
    #check:checked ~ ul {
        left: 0;
    }
}

nav.shrink {
    height: 60px;
}

nav.shrink .logo {
    margin-top: 15px;
    margin-left: 5px;
}

nav.shrink ul li a {
    line-height: 60px;
}

nav.shrink .checkbtn {
    line-height: 60px;
}

nav ul li.close-icon {
    display: none;
}

nav #check:checked ~ ul li.close-icon {
    display: block;
    float: right;
    margin-right: 20px;
    line-height: 5px;
}

nav #check:checked ~ ul li.close-icon i {
    color: white;
    font-size: 30px;
}

nav ul li.close-icon {
    position: absolute;
    top: 0;
    right: 20px;
}

nav ul li.close-icon i {
    color: white;
    font-size: 20px;
}

/* Adjustments for iPhone 6 */
@media only screen and (max-device-width: 375px) {
    .logo {
        width: 300px; /* Adjust logo size */
        margin-top: 10px; /* Increase top margin */
        margin-left: 10px; /* Adjust left margin */
    }
    .welcome h1 {
        font-size: 2rem;
    }

    .checkbtn {
        margin-right: 5px; /* Adjust margin for hamburger menu */
    }
}

footer {
    font-size: 0.6rem;
    line-height: 5px;
    background-color: #477f99cd;
    color: white;
    text-align: center;
    padding: 5px 0;
    width: 100%;
    position: fixed;
    bottom: 0;
    transition: bottom 0.1s ease-in;
}

.footer-content {
    max-width: 800px;
    margin: 0 auto;
}

.footer-content p {
    margin: 5px 0;
}
.greeting {
    background-color: #fff;
    padding-top: 100px;
    padding: 80px;
}
.greeting img {
    width: 200px;
    float: left;
    padding: 0px 5px 5px;
    margin-right: 40px;
    margin-bottom: 20px;
    border-radius: 25px;
    overflow: hidden;
    box-shadow: 10px 10px 10px gray;
}

.greeting h1 {
    font-weight: bold;
    color: #2c3e50;
    text-align: center;
    text-shadow: 1px 1px white;
    padding-bottom: 50px;
}

.greeting p {
    margin-left: 20px;
    margin-bottom: 15px;
    font-size: 1.5rem;
    text-align: justify;
    letter-spacing: -0.1px;
    line-height: 150%;
}

#kvote {
    text-align: right;
    margin-bottom: 30px;
    font-style: italic;
}

#signature {
    text-align: right;
    margin-top: 30px;
}

#kvote2 {
    font-style: italic;
}

.dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #477f99cd;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    line-height: 25px;
    float: none;
    color: rgb(255, 255, 255);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #1b9bff;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.content {
    background-color: #ffffffcd;
    height: fit-content;
    padding: 0 50px;
    padding-top: 20px;
    text-align: center;
    font-size: 1.2rem;
    flex: 1;
    padding-top: 100px;
}
.content h1 {
    font-weight: bold;
    text-align: center;
    text-shadow: 1px 1px #477f99;
    padding-bottom: 50px;
}

.content p {
    margin: 20px;
    margin-left: 20px;
    margin-bottom: 15px;
    font-size: 1.5rem;
    text-align: justify;
    letter-spacing: -0.1px;
    line-height: 150%;
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
#author {
    text-align: right;
}
